<!DOCTYPE html>
<html lang="es-CO">
  <head>
    <meta charset="utf-8" />
    <meta content="#333333" name="theme-color" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="initial-scale=1.0, width=device-width" name="viewport" />
    <meta
      content="Plataforma Educativa del Centro de Educación a Distancia de la Universidad de Manizales"
      name="Description"
    />
    <title>
      Información general del módulo Taller de investigación II grupo 2 | CEDUM
    </title>
    <link
      href="https://campus.umanizalesvirtual.edu.co/favicon.ico?version=0.9.14"
      rel="icon"
    />
    <link
      href="https://campus.umanizalesvirtual.edu.co/manifest.json?version=0.9.14"
      rel="manifest"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      href="https://campus.umanizalesvirtual.edu.co/css/layout/fcsh/materialize.min.css?version=0.9.14"
      rel="stylesheet"
    />
    <link
      href="https://campus.umanizalesvirtual.edu.co/css/styles.min.css?version=0.9.14"
      rel="stylesheet"
    />
    <link
      href="https://campus.umanizalesvirtual.edu.co/css/layout/fcsh/general.min.css?version=0.9.14"
      rel="stylesheet"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-127343795-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-127343795-4");
    </script>
  </head>

  <body>
    <div id="id-general-curso" data-curso="3948"></div>
    <ul class="sidenav sidenav-fixed" id="menu-lateral">
      <div>
        <li class="hide-on-large-only menu-lateral menu-lateral-icono">
          <a href="#"
            ><i class="material-icons right sidenav-close"
              >keyboard_arrow_left</i
            ></a
          >
        </li>
        <li>&nbsp;</li>
        <li class="center-align">
          <img
            alt="Universidad de Manizales"
            class="responsive-img"
            style="padding: 0 20px"
            src="https://campus.umanizalesvirtual.edu.co/images/logos/FCSH.svg?version=0.9.14"
          />
        </li>
        <li>&nbsp;</li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li id="5054">
              <a class="collapsible-header"
                ><i class="hide-on-med-and-down material-icons"
                  >arrow_drop_down</i
                >Generalidades</a
              >
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a
                      href="https://campus.umanizalesvirtual.edu.co/formacion/curso/tema/3948/3918"
                      class="truncate"
                      >Presentación</a
                    >
                  </li>
                  <script>
                    if (window.location.href.split("/").pop() == 3918) {
                      const option = document.getElementById("5054");
                      option.classList.add("active");
                    }
                  </script>
                  <li>
                    <a
                      href="https://campus.umanizalesvirtual.edu.co/formacion/curso/tema/3948/3919"
                      class="truncate"
                      >Resultados de aprendizaje</a
                    >
                  </li>
                  <script>
                    if (window.location.href.split("/").pop() == 3919) {
                      const option = document.getElementById("5054");
                      option.classList.add("active");
                    }
                  </script>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li id="7472">
              <a class="collapsible-header"
                ><i class="hide-on-med-and-down material-icons"
                  >arrow_drop_down</i
                >Contenido</a
              >
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a
                      href="https://campus.umanizalesvirtual.edu.co/formacion/curso/tema/3948/3920"
                      class="truncate"
                      >Referente conceptual</a
                    >
                  </li>
                  <script>
                    if (window.location.href.split("/").pop() == 3920) {
                      const option = document.getElementById("7472");
                      option.classList.add("active");
                    }
                  </script>
                  <li>
                    <a
                      href="https://campus.umanizalesvirtual.edu.co/formacion/curso/tema/3948/3921"
                      class="truncate"
                      >Referencias</a
                    >
                  </li>
                  <script>
                    if (window.location.href.split("/").pop() == 3921) {
                      const option = document.getElementById("7472");
                      option.classList.add("active");
                    }
                  </script>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header"
                ><i class="hide-on-med-and-down material-icons"
                  >arrow_drop_down</i
                >Material de apoyo</a
              >
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a
                      class="truncate"
                      href="https://campus.umanizalesvirtual.edu.co/archivo/get/recurso/sjLBNlfB2iL2YPBkLVKAUfYxr8zg4cnbwjocmDnaH3D2VYyh4i.pdf"
                      target="_blank"
                      >Recurso: Documento módulo</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="">
          <a
            href="https://campus.umanizalesvirtual.edu.co/formacion/curso/guia/3948"
            ><i class="material-icons">cloud_download</i>Guía de actividades</a
          >
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li id="2093">
              <a class="collapsible-header"
                ><i class="hide-on-med-and-down material-icons"
                  >arrow_drop_down</i
                >Actividades</a
              >
              <div class="collapsible-body">
                <ul>
                  <li
                    class="tooltipped"
                    data-position="right"
                    data-tooltip="Experiencias Complementarias de Aprendizaje – ECA: Construcción Red de sentido"
                  >
                    <a
                      href="https://campus.umanizalesvirtual.edu.co/formacion/curso/actividad/3948/37311"
                      class="truncate"
                      >Experiencias Complementarias de Aprendizaje – ECA:
                      Construcción Red de sentido</a
                    >
                  </li>
                  <script>
                    if (window.location.href.split("/").pop() == 37311) {
                      const option = document.getElementById("2093");
                      option.classList.add("active");
                    }
                  </script>
                  <li
                    class="tooltipped"
                    data-position="right"
                    data-tooltip="Experiencias Situacionales de Aprendizaje – ESA: Actividad colaborativa"
                  >
                    <a
                      href="https://campus.umanizalesvirtual.edu.co/formacion/curso/actividad/3948/37312"
                      class="truncate"
                      >Experiencias Situacionales de Aprendizaje – ESA:
                      Actividad colaborativa</a
                    >
                  </li>
                  <script>
                    if (window.location.href.split("/").pop() == 37312) {
                      const option = document.getElementById("2093");
                      option.classList.add("active");
                    }
                  </script>
                  <li>
                    <a
                      href="https://campus.umanizalesvirtual.edu.co/formacion/actividad/mes/3948"
                      >Calendario</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="https://campus.umanizalesvirtual.edu.co/formacion/curso/calificacion/3948"
            ><i class="material-icons">grade</i>Calificaciones</a
          >
        </li>
        <!-- <li><a href="https://umanizales.zoom.us/j/" target="_blank"><i class="material-icons">cast_connected</i>Ingreso a videoconferencia</a></li>
							<li><a href="https://umanizales.zoom.us/j/" target="_blank"><i class="material-icons">cast_connected</i>Encuentro temático</a></li> -->
        <li>
          <a
            href="https://campus.umanizalesvirtual.edu.co/formacion/curso/zoom/3948/9826943570800000494132"
            ><i class="material-icons">cast_connected</i>Ingreso a
            videoconferencia</a
          >
        </li>
        <!--<li><a href="https://campus.umanizalesvirtual.edu.co/formacion/curso/zoom/3948/9826943570800000494132"><i class="material-icons">cast_connected</i>Encuentro temático</a></li>-->

        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li id="6771">
              <a class="collapsible-header"
                ><i class="material-icons">fast_forward</i>Grabaciones</a
              >
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a
                      href="https://campus.umanizalesvirtual.edu.co/formacion/curso/grabacion/3948/18644"
                      class="truncate"
                      >20 de febrero de 2024 - Encuentro 1 a las 17:00</a
                    >
                  </li>
                  <script>
                    if (window.location.href.split("/").pop() == 18644) {
                      const option = document.getElementById("6771");
                      option.classList.add("active");
                    }
                  </script>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li>&nbsp;</li>
        <li>
          <a
            href="https://campus.umanizalesvirtual.edu.co/formacion/curso/mis_companneros/3948"
            ><i class="material-icons">email</i>Mis compañeros</a
          >
        </li>
        <li>
          <a
            href="https://campus.umanizalesvirtual.edu.co/formacion/curso/foro/3948"
            ><i class="material-icons">forum</i>Consulta tus dudas</a
          >
        </li>
        <li>
          <a
            href="https://campus.umanizalesvirtual.edu.co/formacion/curso/ficha_tecnica/3948"
            ><i class="material-icons">assignment</i>Ficha técnica</a
          >
        </li>
        <li>&nbsp;</li>
      </div>
      <div>
        <li class="hide-on-large-only">
          <a href="https://campus.umanizalesvirtual.edu.co/usuario/perfil/patch"
            ><i class="material-icons">person</i>Editar perfil</a
          >
        </li>
        <!--<li class="hide-on-large-only"></li>-->
        <li class="hide-on-large-only">
          <a href="http://biblioteca.umanizales.edu.co/" target="_blank"
            ><i class="material-icons">local_library</i>Biblioteca</a
          >
        </li>
        <li class="hide-on-large-only">
          <a href="https://campus.umanizalesvirtual.edu.co/comunidad"
            ><i class="material-icons">group_work</i>Mi comunidad</a
          >
        </li>
        <li class="hide-on-large-only">&nbsp;</li>
        <li class="hide-on-large-only">
          <a href="https://campus.umanizalesvirtual.edu.co/dashboard/mi_tablero"
            ><i class="material-icons">home</i>Inicio</a
          >
        </li>
        <li class="hide-on-large-only">
          <a href="https://campus.umanizalesvirtual.edu.co/logout"
            ><i class="material-icons">power_settings_new</i>Cerrar sesión</a
          >
        </li>
        <li class="hide-on-large-only">&nbsp;</li>
      </div>
    </ul>
    <ul class="sidenav sidenav-fixed" id="menu-lateral-principal">
      <!-- <li id="alertaTutoras">
        <a
          href="https://campus.umanizalesvirtual.edu.co/formacion/curso/boton_panico/3948"
          ><i
            class="material-icons tooltipped white-text"
            data-position="right"
            data-tooltip="Apoyo en videoconferencia"
            >support</i
          ></a
        >
      </li> -->
      <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.4/firebase-app.js";
        import {
          getDatabase,
          set,
          ref,
          push,
          onValue,
        } from "https://www.gstatic.com/firebasejs/9.9.4/firebase-database.js";

        const firebaseConfig = {
          apiKey: "AIzaSyAERQN1pKXIo_fAazcgQ6Td3SDfObBRUdk",
          authDomain: "alertas-modulo-requiere-apoyo.firebaseapp.com",
          databaseURL:
            "https://alertas-modulo-requiere-apoyo-default-rtdb.firebaseio.com",
          projectId: "alertas-modulo-requiere-apoyo",
          storageBucket: "alertas-modulo-requiere-apoyo.appspot.com",
          messagingSenderId: "780239551037",
          appId: "1:780239551037:web:3e6813bed1ac9693e2c854",
          measurementId: "G-WL8XQH4B2D",
        };

        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);
        const dbref = ref(database, "alertas");
        const btnalerta = document.getElementById("alertaTutoras");

        btnalerta.addEventListener("click", () => {
          set(dbref, {
            id: 3948, //id del modulo a enviar
            zoom: 98269435708, //sala de zoom
            teacher: "JUAN CARLOS RODRIGUEZ RENGIFO", //nombre del profesor
            module: "Taller de investigación II", //nombre del modulo
            date: `${new Date().toLocaleDateString()} ${new Date().toLocaleTimeString()}`, //fecha y hora de la alerta
          });
        });
      </script>
      <li>
        <!-- <a href="https://campus.umanizalesvirtual.edu.co/usuario/perfil/patch" -- Poner link de editar perfil (Cambio de contraseña obligatorio)
          ><i
            class="material-icons tooltipped white-text"
            data-position="right"
            data-tooltip="Editar perfil"
            >person</i
          ></a
        > -->
      </li>
      <!--<li></li>-->
      <li>
        <a href="http://biblioteca.umanizales.edu.co/" target="_blank"
          ><i
            class="material-icons tooltipped white-text"
            data-position="right"
            data-tooltip="Biblioteca"
            >local_library</i
          ></a
        >
      </li>
      <!-- <li>
        <a href="https://campus.umanizalesvirtual.edu.co/comunidad"
          ><i
            class="material-icons tooltipped white-text"
            data-position="right"
            data-tooltip="Mi comunidad"
            >group_work</i
          ></a
        >
      </li> -->
      <li>&nbsp;</li>
      <!-- <li>
        <a href="https://lms.umanizalesvirtual.edu.co/"
          ><i
            class="material-icons tooltipped white-text"
            data-position="right"
            data-tooltip="Inicio"
            >home</i
          ></a
        >
      </li> -->
      <li>
        <!-- <a href="https://campus.umanizalesvirtual.edu.co/logout" Poner el link de inicio de sesion.
          ><i
            class="material-icons tooltipped white-text"
            data-position="right"
            data-tooltip="Cerrar sesión"
            >power_settings_new</i
          ></a
        > -->
      </li>
      <li>&nbsp;</li>
    </ul>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a class="sidenav-trigger" data-target="menu-lateral" href="#"
              ><i class="material-icons">menu</i></a
            >
            <ul></ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <iframe
        frameborder="0"
        src="https://lms.umanizalesvirtual.edu.co/course/view.php?id=3948"
        style="height: 0; overflow: hidden; visibility: hidden; width: 0"
      ></iframe>
      <div class="contenido">
        <div class="row">
          <div class="col center-align s12">
            <h5 class="center-align">Seguimiento Estudiantes de Maestria</h5>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="bloque">
              <div class="bloque-encabezado">
                <div class="bloque-encabezado-icono">
                  <i class="material-icons">event</i>
                </div>
                <div class="bloque-encabezado-titulo">
                  Inició
                  <span class="badge new" data-badge-caption=""
                    >02 de febrero de 2024</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="bloque">
              <div class="bloque-encabezado">
                <div class="bloque-encabezado-icono">
                  <i class="material-icons">event</i>
                </div>
                <div class="bloque-encabezado-titulo">
                  Finaliza
                  <span class="badge new" data-badge-caption=""
                    >31 de mayo de 2024</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="bloque">
              <div class="bloque-encabezado">
                <div class="bloque-encabezado-icono">
                  <i class="material-icons">event</i>
                </div>
                <div class="bloque-encabezado-titulo">
                  Envío de notas
                  <span class="badge new" data-badge-caption=""
                    >11 de junio de 2024</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--	<div class="row">
			<div class="col s12">
				<div class="bloque">
					<div class="bloque-encabezado">
						<div class="bloque-encabezado-icono">
							<i class="material-icons">extension</i>
						</div>
						<div class="bloque-encabezado-titulo">Actividades del módulo <span class="badge new" data-badge-caption="">4</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="bloque">
					<div class="bloque-encabezado">
						<div class="bloque-encabezado-icono">
							<i class="material-icons">warning</i>
						</div>
						<div class="bloque-encabezado-titulo">Actividades no entregadas <span class="badge new" data-badge-caption="">1</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="bloque">
					<div class="bloque-encabezado">
						<div class="bloque-encabezado-icono">
							<i class="material-icons">done_all</i>
						</div>
						<div class="bloque-encabezado-titulo">Actividades calificadas<span class="badge new" data-badge-caption="">3</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="bloque">
					<div class="bloque-encabezado">
						<div class="bloque-encabezado-icono">
							<i class="material-icons">hourglass_full</i>
						</div>
						<div class="bloque-encabezado-titulo">Ponderación restante <span class="badge new" data-badge-caption="">40%</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="bloque">
					<div class="bloque-encabezado">
						<div class="bloque-encabezado-icono">
							<i class="material-icons">grade</i>
						</div>
						<div class="bloque-encabezado-titulo">Nota final a la fecha <span class="badge new" data-badge-caption="">2,2</span></div>
					</div>
				</div>
			</div>
		</div>-->
        <div class="row">
          <div class="col s12">
            <div class="bloque">
              <div class="bloque-encabezado">
                <div class="bloque-encabezado-icono">
                  <i class="material-icons">alarm</i>
                </div>
                <div class="bloque-encabezado-titulo">
                  Tiempo restante<span
                    class="badge new"
                    data-badge-caption="días"
                    >36</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    <div class="modal" id="alerta">
      <div class="modal-content"></div>
      <div class="modal-footer">
        <a class="btn-flat modal-close waves-effect waves-green" href="#"
          >Aceptar</a
        >
      </div>
    </div>
    <div
      class="modal modal-fixed-footer modal-reproductor"
      id="modal-reproductor"
    >
      <div class="modal-content">
        <iframe
          allowfullscreen
          frameborder="0"
          type="text/html"
          src=""
        ></iframe>
      </div>
      <div class="modal-footer">
        <a class="btn-flat modal-close waves-effect waves-light" href="#"
          >Cerrar</a
        >
      </div>
    </div>
    <!-- <div id="cargando">
	<div class="active big preloader-wrapper">
		<div class="spinner-layer spinner-green-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div> -->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
    ></script>
    <script
      defer
      src="https://campus.umanizalesvirtual.edu.co/js/tinymce.min.js?version=0.9.14"
    ></script>
    <script
      defer
      src="https://campus.umanizalesvirtual.edu.co/js/jquery.min.js?version=0.9.14"
    ></script>
    <script
      defer
      src="https://campus.umanizalesvirtual.edu.co/js/jquery-ui.min.js?version=0.9.14"
    ></script>
    <script defer src="https://cdn.wordart.com/wordart.min.js"></script>
    <script
      defer
      src="https://campus.umanizalesvirtual.edu.co/js/materialize.min.js?version=0.9.14"
    ></script>
    <script
      defer
      src="https://campus.umanizalesvirtual.edu.co/js/layout/base.min.js?version=0.9.14"
    ></script>
    <script>
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/5e724a4eeec7650c3320e373/default";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
  </body>
</html>
